@import "variables";

.cn-fileupload {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
	.cn-file-preview {
		position: relative;
		float: left;
		margin: 15px;
		padding: 5px;
		padding-right: 30px;
		width: $file-preview-width;
		height: $file-preview-height;
		border: 1px solid #CCC;
		border-radius: 3px;
		background: #FFF;
		.cn-file-icon {
			background: #EEE;
			width: $file-preview-icon-width;
			height: $file-preview-icon-height;
			float: left;
			margin-right: 10px;
			text-align: center;
			.fa {
				font-size: 75px;
				line-height: $file-preview-icon-height;
			}
		}
		.cn-file-name {
			word-break: break-all;
			overflow: hidden;
			max-height: 87px;
		}
	}

	.cn-progress {
		margin-top: 10px;
	}

	.cn-progress-bar {
		width: 0%;
	}

	.cn-remove-file {
		position: absolute;
		top: 3px;
		right: 3px;
	}

	.cn-fileupload-errors {
		color: red;
		font-size: 80%;
	}
}
